a,
a:hover,
a:link,
a:visited {
  text-decoration: none;
  color: #333;
}
a:focus {
  outline: none;
}
.cm-button {
  position: relative;
  padding: 4px 15px;
  -webkit-user-select: none;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #000;
  border-radius: 2px;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: background, -webkit-box-shadow 0.2s linear;
  -moz-transition: background, -moz-box-shadow 0.2s linear;
  -ms-transition: background, box-shadow 0.2s linear;
  -o-transition: background, box-shadow 0.2s linear;
  transition: background, box-shadow 0.2s linear;
  -webkit-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
.cm-button.raised {
  -webkit-box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
.cm-button i.fa.left {
  margin-right: 5px;
}
.cm-button i.fa.right {
  margin-left: 5px;
}
.cm-button.cm-iconButton {
  padding: 0;
  overflow: visible;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.cm-button.cm-iconButton i.fa {
  overflow: hidden;
}
.cm-button.cm-iconButton i.fa.left,
.cm-button.cm-iconButton i.fa.right {
  margin: 0;
}
.cm-button.cm-iconButton:hover {
  background: transparent;
}
.cm-button:hover {
  background: rgba(153, 153, 153, 0.2);
}
.cm-button.flat {
  padding: 0 5px !important;
  -webkit-box-shadow: initial;
  -moz-box-shadow: initial;
  box-shadow: initial;
}
.cm-button.primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.cm-button.primary:hover {
  background-color: #4f93ce;
}
.cm-button.success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.cm-button.success:hover {
  background-color: #80c780;
}
.cm-button.info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.cm-button.info:hover {
  background-color: #85d0e7;
}
.cm-button.warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.cm-button.warning:hover {
  background-color: #f4c37d;
}
.cm-button.danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.cm-button.danger:hover {
  background-color: #e27c79;
}
.cm-button[disabled] {
  color: rgba(0, 0, 0, 0.3);
  cursor: default;
  background: transparent;
}
.cm-button[disabled]:hover {
  background: transparent;
}
.cm-button[disabled] i.fa {
  color: rgba(0, 0, 0, 0.3);
}
